{
  "openapi": "3.1.0",
  "info": {
    "title": "System Friction Institute External Agent API",
    "version": "1.3.0",
    "description": "Governed machine interface for authorized AI clients. Observation, consolidated console inspection, proposal, execution and laboratory operations remain scope-bound and auditable.",
    "termsOfService": "https://systemfriction.org/privacy"
  },
  "externalDocs": {
    "description": "SFI Privacy & External Agent Data Policy",
    "url": "https://systemfriction.org/privacy"
  },
  "servers": [
    { "url": "https://systemfriction.org" }
  ],
  "security": [
    { "sfiToken": [] }
  ],
  "paths": {
    "/api/external/v1/manifest": {
      "get": {
        "operationId": "getSfiManifest",
        "summary": "Discover current SFI agent capabilities",
        "security": [],
        "responses": { "200": { "description": "Current governed capability manifest", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenericResponse" } } } } }
      }
    },
    "/api/external/v1/console": {
      "get": {
        "operationId": "readSfiConsole",
        "summary": "Read the consolidated governed SFI machine console",
        "description": "Returns Method Lab state, report health and recent reports, Cognitive Twin runs/evaluations, governance proposals, recent evidence, recent lab runs and agentic capability contracts. This operation is read-only.",
        "x-sfi-scope": "observe",
        "responses": {
          "200": { "description": "Consolidated governed console state", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenericResponse" } } } },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/external/v1/observe": {
      "post": {
        "operationId": "observeSfi",
        "summary": "Read an allowlisted governed SFI state surface",
        "x-sfi-scope": "observe",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ObserveRequest" } } } },
        "responses": {
          "200": { "description": "Governed observation result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenericResponse" } } } },
          "400": { "description": "Surface not allowed" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/external/v1/propose": {
      "post": {
        "operationId": "proposeSfiAction",
        "summary": "Submit a governed action proposal for ROOT review",
        "x-sfi-scope": "propose",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProposeRequest" } } } },
        "responses": {
          "201": { "description": "Proposal registered for ROOT review", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenericResponse" } } } },
          "400": { "description": "Title and summary required" },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Proposal creation failed" }
        }
      }
    },
    "/api/external/v1/execute": {
      "post": {
        "operationId": "executeAuthorizedSfiAction",
        "summary": "Execute an already-authorized internal SFI action",
        "x-sfi-scope": "execute",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ExecuteRequest" } } } },
        "responses": {
          "200": { "description": "Execution result and provenance", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenericResponse" } } } },
          "400": { "description": "Invalid request or explicit confirmation missing" },
          "401": { "description": "Unauthorized" },
          "409": { "description": "Queued governed proposal required" }
        }
      }
    },
    "/api/external/v1/lab": {
      "post": {
        "operationId": "operateSfiLab",
        "summary": "Read, persist or run Method Lab operations according to scope",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LabRequest" } } } },
        "responses": {
          "200": { "description": "Method Lab result with governance/provenance metadata", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/GenericResponse" } } } },
          "201": { "description": "Persisted Method Lab record" },
          "400": { "description": "Invalid laboratory operation" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Insufficient scope or authority" },
          "503": { "description": "Method Lab runtime failure" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ObserveRequest": {
        "type": "object",
        "required": ["surface"],
        "properties": {
          "surface": { "type": "string", "enum": ["proposals", "evidence"], "description": "Allowlisted SFI state surface to observe." }
        },
        "additionalProperties": false
      },
      "ProposeRequest": {
        "type": "object",
        "required": ["title", "summary"],
        "properties": {
          "title": { "type": "string", "minLength": 1, "description": "Human-readable proposal title." },
          "summary": { "type": "string", "minLength": 1, "description": "Plain-language objective and rationale for ROOT review." },
          "action": { "type": ["object", "string", "null"], "description": "Optional requested internal action or structured action description." }
        },
        "additionalProperties": false
      },
      "ExecuteRequest": {
        "type": "object",
        "required": ["proposal_id", "confirm"],
        "properties": {
          "proposal_id": { "type": "string", "minLength": 1, "description": "Identifier of a proposal already queued by governed ROOT flow." },
          "confirm": { "type": "boolean", "const": true, "description": "Explicit confirmation required to record the authorized internal realization." }
        },
        "additionalProperties": false
      },
      "LabRequest": {
        "type": "object",
        "required": ["operation"],
        "properties": {
          "operation": { "type": "string", "enum": ["state", "report", "persist", "run"] },
          "title": { "type": "string", "description": "Required for persist. Human-readable observation title." },
          "content": { "type": "string", "description": "Required for persist. Observation/evidence content to preserve." },
          "confidence": { "type": "number", "minimum": 0, "maximum": 1 },
          "source": { "type": "string" },
          "commandId": { "type": "string", "description": "Caller idempotency/correlation identifier where available." },
          "refs": { "type": "array", "items": { "type": "string" }, "description": "Lineage references for persist." },
          "metadata": { "type": "object", "properties": {}, "additionalProperties": true },
          "protocolId": { "type": "string", "enum": ["sociotechnical_simulation", "economic_simulation"], "description": "Required for run." },
          "confirm": { "type": "boolean", "description": "Required as true for governed runtime execution." },
          "evidenceIds": { "type": "array", "items": { "type": "string" }, "description": "Persisted evidence identifiers required by a supported Method Lab runtime." },
          "parameters": { "type": "object", "properties": {}, "additionalProperties": true },
          "cognitiveSpineContextRefs": { "type": "array", "items": { "type": "string" } }
        },
        "additionalProperties": false
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "generatedAt": { "type": "string" },
          "data": {},
          "console": {},
          "warnings": { "type": "array", "items": { "type": "string" } },
          "error": { "type": ["string", "null"] },
          "message": { "type": "string" }
        },
        "additionalProperties": true
      }
    },
    "securitySchemes": {
      "sfiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-SFI-Token",
        "description": "Scoped SFI credential. Send the raw token value only."
      }
    }
  },
  "x-sfi-governance": {
    "principle": "Observation, inference, proposal, authorization, execution, return and canonical promotion remain distinct states.",
    "rootReserved": ["approval", "canonical promotion", "unguarded external action"],
    "privacyPolicy": "https://systemfriction.org/privacy",
    "console": "/api/external/v1/console",
    "discovery": ["/llms.txt", "/llms-full.txt", "/ai-index.json", "/field-schema.json", "/privacy", "/api/external/v1/manifest"]
  }
}
