<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">  
  {% seo %}
</head>
<body>

  <header class="site-bar">
    <div class="wrap--wide site-bar__inner">
      <a class="site-bar__logo" href="{{ '/' | relative_url }}">
        <span>SYSTEM_FRICTION</span>
        <span class="site-bar__ver">v{{ site.version }}</span>
      </a>
      
      <nav class="site-bar__nav">
        <a href="{{ '/docs/core-00/' | relative_url }}">docs</a>
        <a href="{{ '/nodo-ags/' | relative_url }}">ags</a>
        <a href="{{ '/mihm/' | relative_url }}">mihm</a>
      </nav>
    </div>
  </header>

  <main class="content-fade">
    {{ content }}
  </main>

  <footer class="site-foot">
   { footer.html}
  </footer>

</body>
</html>